:root {
    --m-bg-color: #131313;
    --m-fg-color: #fdf4f7;
    --m-fg-accent-color: #c20004;
    --m-aux-color: #a8092d;
}

@font-face {
    font-family: "Grenze Gotisch";
    src: url(/fonts/GrenzeGotisch.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Alegreya";
    src: url(/fonts/Alegreya.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Alegreya Sans";
    src: url(/fonts/AlegreyaSans.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Alegreya Sans", sans-serif;
    background-color: var(--m-bg-color);
    color: var(--m-fg-color);
    min-height: 100vh;
}

.accent {
    color: var(--m-fg-accent-color);
}

.devteam-container {
    --devteam-width: 600px;
    --devteam-avatar-width: 100px;
    --devteam-info-padding: 25px;
    max-width: var(--devteam-width);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: auto;
}

.devteam-member {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.devteam-member:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}

.devteam-avatar {
    width: var(--devteam-avatar-width);
    height: var(--devteam-avatar-width);
    object-fit: cover;
    position: relative;
    z-index: 4;
    transition: transform 0.3s ease;
}

.devteam-avatar:hover {
    transform: translate(-10px, -10px);
}

.devteam-member-name {
    font-size: 1.5em;
    font-family: "Grenze Gotisch", serif;
    text-decoration: inherit;
    color: inherit;
}

.devteam-member-role {
    font-family: "Alegreya", serif;
}

.devteam-member-desc {
    text-align: justify;
}

.devteam-gh-link {
    color: inherit;
}

.devteam-member-info {
    display: inline-flex;
    flex-direction: column;
    max-width: calc(
        var(--devteam-width) -
            (2 * (var(--devteam-avatar-width) + var(--devteam-info-padding)))
    );
    padding-left: var(--devteam-info-padding);
    padding-right: var(--devteam-info-padding);
}

.devteam-member:nth-child(even) .devteam-member-info {
    align-items: flex-end;
}
